<!-------------------------- html ------------------------------------->
<!-- app.component.html -->
<div class="container">
  <ngb-carousel>
    <ng-template ngbSlide>
      <img src="../../../assets/img/Emilio rectangular.png" alt="Slide 1">
    </ng-template>
    <ng-template ngbSlide>
      <img src="../../../assets/img/Diseño sin título (3).png" alt="Slide 2">
    </ng-template>
    <!-- Agrega más ng-templates para más slides -->
  </ngb-carousel>
</div>



<!-- <section class="container__general">
    <div class="logo__itbf container__img" @translateX><img src="../../../assets/img/Diseño sin título (3).png"  alt=""></div>
    <div class="emilio container__img" @translateY><img src="../../../assets/img/EMILIO  (1).png" alt=""></div>
</section> -->