
<!-- <app-sidenav (onToggleSideNav)="onToggleSideNav($event)"></app-sidenav>
<app-body 
    [collapsed]="isSideNavCollapsed"
    [screenWidth]="screenWidth"
></app-body> -->
<!-- <h1>Hola</h1>
<button (click)="fadeInOut()">Fade in / out </button> -->

<!-- <div [@fadeInOut]=" isShown? 'open' : 'close' " 
(@fadeInOut.start)="onAnimationStart($event)"
(@fadeInOut.done)="onAnimationDone($event)"
>This is a block with fade in / out</div> -->

<!-- version 1 -->
<!-- <div class="div__animated" *ngIf="isShown"  @fadeIn @fadeOut>Block with fade in / out</div> -->

<!-- <div class="div__animated" *ngIf="isShown"  @fadeInOut>Block with fade in / out</div> -->
<app-itbf-img></app-itbf-img>